.jumbotron h2 {
	text-align: center;
	padding-top: 50px;
}

.jumbotron {
	margin-top: 25px;
	padding-top: 3px;
	padding-bottom: 10px;
}

.panel{
	margin-top:30px;
}
.img-thumbnail {
  width: 300px;
}
